@import "common.scss";

main{
	.photo {
		max-width: 100%;
	}
	.information {
		text-align: center;
		margin: 2rem 0;
		.name,h3 {
			font-size : 25px;
		}
		h3 {
			margin-top: 1.5rem;
		}
		h3:before, h3:after {
			content: "❤";
			color: $input_text_color;
			margin: 5px;
		}
	}
}